@import url('./variables.css');

.content-space-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    background-color: black;
}

.recent-activity {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.recent-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: var(--border-main);
    border-radius: 10px;
    margin: var(--main-margin);
}

.recent-title {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: var(--main-margin);
    border-bottom: var(--underline);
}

.recent-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
}

.recent-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.recent-list::-webkit-scrollbar {
    display: none;
}

.recent-user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
}

.recent-item {
    display: flex;
    align-content: center;
    justify-content: space-evenly;

    min-height: 64px;
    overflow: hidden;

    border: var(--border-main);
    border-radius: 10px;

    border-width: 1px;
    margin-bottom: var(--main-margin);
}

.recent-name {
    text-align: center;
    text-wrap: wrap;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recent-id {
    text-align: center;
    text-overflow: clip;
    font-weight: var(--font-weight4);
}

.recent-timestamp {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight4);
}

.recent-message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: var(--main-margin);
    width: 62px;
    text-align: right;
    font-weight: 200;
}

@media (width < 1700px) {
    .recent-block {
        width: 80%;
    }
}

@media (width<=750px) {
    .content-space-container {
        flex-direction: column;
        width: 100%;
    }

    .recent-activity {
        width: 98%;
    }

    .recent-block {
        width: 100%;
    }

    .recent-list {
        max-height: 300px;
    }
}

@media (min-width: 751px) and (max-width: 950px) {
    .content-space-container {
        flex-direction: row;
        justify-content: flex-end;
        align-items: start;
    }

    .recent-activity {
        width: 50%;
    }

    .recent-block {
        width: 96%;
    }

    .recent-list {
        max-height: 600px;
    }
}