li {
    color: white;
}

.content-space-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex: 1;
    background-color: black;
}

.recent-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}


.recent-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin: 8px;
    border-radius: 10px;
}

.recent-title {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 8px;
    font-weight: 400;
    font-size: clamp(1rem, 1vw + 1rem, 1.6rem);
    color: rgb(255, 255, 255);
    border-bottom: 1px solid;
}

.recent-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: white;
    text-decoration: none;
    list-style: none;
    width: 100%;

    max-height: 600px;
    overflow-y: auto;
    margin-bottom: 4px;
    margin-top: 4px;
}

.recent-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.recent-list::-webkit-scrollbar {
    display: none;
}

.recent-user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
}

.recent-item {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 80%;

    min-height: 64px;
    overflow: hidden;

    border-style: solid;
    border-color: rgb(204, 212, 212);
    border-radius: 10px;

    border-width: 1px;
    margin-bottom: 8px;
}

.recent-name {
    font-weight: 300;
    color: rgb(204, 212, 212);
    text-align: center;
    text-wrap: wrap;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recent-id {
    text-align: center;
    font-weight: 200;
    font-size: clamp(0.4rem, 0.5vw + 1rem, 1rem);
    color: rgb(171, 184, 184);
    text-overflow: clip;
}

.recent-timestamp {
    display: flex;
    align-items: center;

    font-weight: 200;
    font-size: clamp(0.4rem, 0.5vw + 1rem, 1rem);
    color: rgb(171, 184, 184);
}

.recent-message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 8px;
    width: 62px;
    text-align: right;
    font-weight: 200;
    font-size: clamp(0.4rem, 0.5vw + 1rem, 1rem);
    color: rgb(171, 184, 184);
}

@media (width<=750px) {
    .content-space-container {
        flex-direction: column-reverse;
    }

    .recent-activity {
        width: 100%;
    }

    .recent-block {
        width: 96%;
    }

    .recent-list {
        max-height: 300px;
    }

    .recent-id {
        font-size: clamp(0.3rem, 0.5vw + 1rem, 0.8rem);
    }
}

@media (min-width: 751px) and (max-width: 950px) {
    .content-space-container {
        flex-direction: row;
        justify-content: flex-end;
        align-items: start;
    }

    .recent-activity {
        width: 50%;
    }

    .recent-block {
        width: 96%;
    }

    .recent-list {
        max-height: 600px;
    }

    .recent-id {
        font-size: clamp(0.4rem, 0.5vw + 1rem, 1rem);
    }
}