@import url('./variables.css');

.schedule-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--border-main);
    border-radius: 10px;
}

#celendar-holder {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin: var(--main-margin);
    margin-left: 20px;
    margin-right: 20px;
}

.day-block {
    border: 1px solid rgb(179, 179, 179);
    height: 40px;
    width: 40px;
    border-radius: var(--main-margin);
}

.day-filler {
    border: 1px solid rgb(53, 53, 53);
}

.celendar-title {
    text-align: center;
    margin: var(--main-margin);
    border-bottom: 1px solid;
}

.day-title {
    text-align: start;
    margin: var(--main-margin);
}

.scheduled {
    background: repeating-linear-gradient(-45deg,
            #606dbc,
            #606dbc 10px,
            transparent 10px,
            transparent 20px);
}

.scheduled .day-title {
    font-weight: 400;
}