@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

.header {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 500;
    min-height: 3.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ffffff;
    overflow: hidden;
    background-color: black;
}

.nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    line-height: 1.1rem;
}

.nav-title-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: clamp(1rem, 1vw + 1rem, 2.5rem);
}

.tg-logo {
    height: 3.5rem;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 10px;
}

.title-text {
    height: 100%;
    display: flex;
    text-align: center;
}

.nav-status-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem 10px;
}

.nav-status-reload-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: transparent;
    cursor: pointer;

    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    transition: all 0.3s ease 0s;
}

.nav-status-reload-btn:hover {
    transform: rotate(180deg);
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-status-reload-btn img {
    filter: invert(1);
    height: 50%;
    width: 50%;
}

.nav-status-bar {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-update-time {
    font-weight: 300;
    font-size: clamp(1rem, 1vw + 1rem, 1.2rem);
    color: rgb(171, 184, 184);
}

.nav-status-dot {
    display: flex;
    height: 100%;
    margin: 8px;
}

#dot-status {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#pulse-circle {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
    opacity: 0.6;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }

    70% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}

#dot-status.online {
    background-color: #4CAF50;
}

#pulse-circle.online {
    background-color: #4CAF50;
}

#dot-status.offline {
    background-color: #af4c4c;
}

#pulse-circle.offline {
    background-color: #af4c4c;
}

#dot-status.pending {
    background-color: #adaf4c;
}

#pulse-circle.pending {
    background-color: #adaf4c;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}