@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;

    --font-25: clamp(1rem, 1vw + 1rem, 2.5rem);
    --font-16: clamp(1rem, 1vw + 1rem, 1.6rem);
    --font-12: clamp(1rem, 1vw + 1rem, 1.2rem);
    --font-10: clamp(1rem, 1vw + 1rem, 1rem);
    --font-08: clamp(1rem, 1vw + 1rem, 1rem);

    --font-500: 500;
    --font-400: 400;
    --font-300: 300;
    --font-200: 200;

    --accent-color1: rgb(255, 255, 255);
    --accent-color2: rgb(216, 235, 235);
    --accent-color3: rgb(184, 212, 212);
    --accent-color4: rgb(155, 172, 172);

    --main-margin: 8px;

    --border-main: 1px solid #ffffff;
    --underline: 1px solid #ffff;
}